#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


# Cleaning process of the released files.
override_dh_auto_install:
	wget -O "$(CURDIR)/install_tred.bash" http://ufallab.ms.mff.cuni.cz:24080/tred/testbed/install_tred.bash
	chmod a+x "$(CURDIR)/install_tred.bash"
	mkdir -p "$(CURDIR)/debian/tred/usr/share/tred"
	"$(CURDIR)/install_tred.bash" --tred-dir "$(CURDIR)/debian/tred/usr/share/tred" --no-libs
	rm -rf "$(CURDIR)/debian/tred/usr/share/tred/bin"
	mkdir -p "$(CURDIR)/debian/tred/usr/bin"
	ln -s /usr/share/tred/tred "$(CURDIR)/debian/tred/usr/bin/start_tred"
	ln -s /usr/share/tred/btred "$(CURDIR)/debian/tred/usr/bin/start_btred"
	ln -s /usr/share/tred/ntred "$(CURDIR)/debian/tred/usr/bin/start_ntred"

%:
	dh $@ 
